
@font-face {
	font-family: OpenSans; /* Имя шрифта */
	src: url(../font/OpenSansRegular.ttf); /* Путь к файлу со шрифтом */
	src: url(../font/OpenSansRegular.eot); /* Путь к файлу со шрифтом */
	src: url(../font/OpenSansRegular.woff); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: OpenSansBold; /* Имя шрифта */
	src: url(../font/OpenSansBold.ttf); /* Путь к файлу со шрифтом */
	src: url(../font/OpenSansBold.eot); /* Путь к файлу со шрифтом */
	src: url(../font/OpenSansBold.woff); /* Путь к файлу со шрифтом */
}
*{
	margin: 0;
	padding: 0;
	font-family: OpenSans;
}
h1, h2, h3, h4, h5, h6{
	font-family: OpenSans;
	font-weight: normal;
}
img{
	max-width: 100%;
}
a:hover{
	text-decoration: none;
}
.clear{
	clear: both;
}
.btn-primary{
	border-radius: 2px;
	background-color: #00519c;
}
.btn-primary:hover{
	background-color:#003c74;
}
.btn-primary:active{
	background-color:#003c74;
}
.child-list {
	display: none;
}
.form-control{
	border: 1px solid #b0c1d1;
	border-radius: 0;
}
.list-group-item:first-child{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px
}
.list-group-item:last-child{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px
}
a.list-group-item:hover{
	background-color: #e4e9ee;
}
.btn {
	border-radius: 2px;
}

/*------------- start header ---------------------*/
.blue-line{
	background-color: #00417d;
	width: 100%;
	height: 11px;
}
#top-head{
	width: 100%;
	background-color: #00519c;
	height: 43px;
	color: white;
	overflow: auto;
}
#main-head .col-md-3{
	padding-top: 10px;
}
.top-social-item{
	float: left;
	line-height: 40px;
	width: 60px;
	text-align: center;
	
	transition:all, 0.3s;
}
.top-social-item:hover{
	background-color: #0062bd;
}
.top-account-item:hover{
	text-decoration: underline;
}
.top-account{
	line-height: 40px;

	
}
.top-account span{
	float: right;
	margin:0 5px;
}
.top-account-item{
	float: right;

}
.top-account a{
	color: white;
}
.phone{
	overflow: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.phone-line{
	float: left;
	border-right: 1px solid #c2c2c2;
	width: 33%;
	font-size: 12px;
}
.phone-line:last-child{
	border-right:none;
}
.phone-item{
	padding: 4px 5px;
}
.phone-item img{
	float: left;
	margin-right: 5px;
}
#search {
	margin-top: 10px;
}
#search input{
	width:88%;
	height: 40px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #f5f5f5;
	text-indent: 15px;
	margin-right: -3px;
	border: none;

}
#search button{
	background-color: #00519c;
	width: 10%;
	border:none;
	height: 40px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

}
#search button:hover{
	background-color: #0062bd;
	transition:all, 0.2s;
}
#search button img{
	max-width: 40%;
}
#search input:focus{
	outline: none;
}
.clock-item{
	margin-top: 12px;
	overflow: auto;
	line-height: 24px;
	margin-left: 20%;

}

.clock-img{
	float: left;
	margin-right: 10px;
}
.clock-txt{
	float: left;
	font-size: 12px;
	margin-left: 5px;
	line-height: 16px;
}
.clock-txt span{
	font-size: 16px;
	}
.cart-icons-item{
	float: left;
	color: black;
	margin-top: 5px;
	width: 33%;
	color: grey;
	width: 50%;
	text-align: center;
	font-size: 14px;
	font-family: OpenSansBold;
	line-height: 28px;
	color: black;
}
.cart-icons-item img{
	margin-right: 5px;
	margin-top: -2px;

	}
.cart-icons{
background-color: #f5f5f5;
	border-radius: 5px;
	overflow: auto;
	float: none;
	height: 40px;
	margin-top: 16px;
	padding: 0 5px;
}
.clock-md{
	padding-left: 0!important;
}
#compare{
	border-radius: 20px;
background-color: #00519c;
color: white;
width: 20px;
height: 20px;
line-height: 20px;
float: right;
line-height:  height: 20px;
margin-top: 4px;
display: block;
font-size: 12px;
}
#cartCount{
	border-radius: 20px;
background-color: #00519c;
color: white;
width: 20px;
margin-top: 4px;
height: 20px;
line-height: 20px;
float: right;
line-height:  height: 20px;
display: block;
font-size: 12px;
}
#cart .text-left a{
	color: black;
	font-size: 12px;
}
#cart .dropdown-menu{
	border-radius: 0px;
	border:#e8e8e8 solid 3px;
	background-color: white;
	box-shadow: none;
	margin-top: -7px;
}
#cart .cart-sum tr{
	background-color: #00519c;
	color: white;
}
#cart .table-bordered>tbody>tr>td{
	border:0;
	border-top: 1px solid #ddd;
}
#cart .cart-sum .text-right{
	font-family: OpenSans;
	font-size: 18px;
}
#cart .cart-price{
	color: #00519c;
	font-family: OpenSans;
	font-size: 16px;

}
#cart .cart-remove-button{
	background-color: #00519c;
}
#cart .btn-xs{
	padding: 1px 7px;
}
.text-right a{width: 47%;
margin-top: -10px;
margin-bottom: 5px;
margin-left: 1%;
font-size: 12px;
float: right!important;
display: block;
text-align: center;
}
/*------------- end header ---------------------*/

/*------------- start nav ---------------------*/
#nav{
	width: 100%;
	border-bottom: 1px solid #e4e9ee;
	border-top: 1px solid #e4e9ee;
	height: 50px;
	line-height: 50px;
	margin-top: 10px;
}
#catalog-button{
	background-color: #00519c;
	color: white;
	height: 49px;
	font-size: 16px;
	padding-left: 20px;
	line-height: 50px;
}
#catalog-button-mob{
	display: none;
	background-color: #00519c;
	color: white;
	height: 49px;
	font-size: 16px;
	padding-left: 20px;
	line-height: 50px;
	margin-bottom: 5px;
}
.menu-div{
	float: right;
	padding: 15px 20px 0 0;
}
#catalog-button .menu-div div{
	height: 3px;
	width: 40px;
	background-color: white;
	margin-top: 3px;
}
#catalog-button-mob .menu-div div{
	height: 3px;
	width: 40px;
	background-color: white;
	margin-top: 3px;
}
#nav .col-md-9 ul li{
	float: left;
	width: 16%;
	text-align: center;
	font-size: 16px;
	height: 49px;
	color: #828282;

}

#nav .col-md-9 ul li:hover{
	background-color: #00519c;
	border-bottom: 1px solid #e4e9ee;
	color: white;
	text-decoration: none;
}

#nav .col-md-9 ul{
	list-style: none;
	overflow: auto;
}
.child-list{
	list-style: none;
}

/*------------- end nav ---------------------*/

/*------------- start category-menu ---------------------*/
#mainMenu{
	display: none;
	background-color: white;
	z-index: 9999;
	position: relative;
	line-height: 20px;
	margin-top: -3px;
}
.category-menu-item, .category-menu-item2{
	border: 1px solid #f2f2f2;
	margin-top: 1px;
	overflow: auto;
	width: 100%;
	transition:all, 0.2s;
}
.category-menu-item p, .category-menu-item2 p{
	width: 93%;
	float: left;
	padding: 5px 0 0 15px;
	color: black;
}
.category-arrow{
	background-color: #e8e8e8;
	float: right;
	width: 5%;
	min-height:35px;
	padding: 10px 0 0 4px;
	background-image: url(../images/cat-arrow1.png);
	background-repeat: no-repeat;
	background-position: center;

}
.category-menu-item:hover .category-arrow{
	background-color: #00519c;
	background-image: url(../images/cat-arrow2.png);
	width: 6%;
}
.category-menu-item:hover{
	border:1px solid #aeaeae;
}
.category-menu-item-premium{
	border: 1px solid #f2f2f2;
	margin-top: 2px;
	overflow: auto;
	width: 100%;

}
.category-menu-item-premium p{
	float: left;
	padding: 4px 0 0 15px;
	color: black;
	font-size: 16px;
	font-weight: bolder;
}
.category-arrow-premium {
	float: right;
	min-height: 36px;
	padding: 5px 15px 0 5px;

}
.catalog-tria{
	border:18px solid transparent;
	border-right: 18px solid transparent; 
	border-bottom: 18px solid transparent;
	float: right;

}
.category-menu-item-premium:hover{
	border:1px solid #aeaeae;
}
.category-menu-item-premium:hover p{
	color: #00519c;
}
.category-menu-item-premium:hover .category-arrow-premium {
	background-color: #00519c;
}
.category-menu-item-premium:hover .catalog-tria{
	border-right:18px solid #00519c; 
	border-bottom: 18px solid #00519c;
}
#submenu{
	position: absolute;
	top:0;
	left: 0;
	background: white;
	display: none;
	z-index: 2000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#submenuUl{
	float: left;
	width: 200px;
	margin: 20px 0 0 40px
}
#submenu2{
	position: absolute;
	top:0;
	left: 0;
	background: white;
	display: none;
	z-index: 2000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#submenuUl2{
	float: left;
	width: 200px;
	margin: 20px 0 0 40px;
}
#submenuUl ul{
	list-style: none;
}
#submenuUl ul li{
	cursor: pointer;
}
#submenuUl ul li a{
	color: black;
	font-size: 14px;
}
#submenuUl2 ul li a{
	color: black;
	font-size: 14px;
}
#submenuUl ul li{
	list-style: url(../images/footer-arrow.png);
}
#submenuUl2 ul li{
	list-style: url(../images/footer-arrow.png);
}
#submenuUl ul li a:hover{
	color:#00519c;
}
#submenuUl2 ul li a:hover{
	color:#00519c;
}
#submenuImg{
	width: 200px;
	float: left;
	margin:10px 0;
}
#submenuImg h4{
	color: white;
	background-color:  #00519c;
	margin-top: 0px;
	min-height: 40px;
	font-size: 16px;
	text-align: center;	
	padding-top: 10px;	
	padding-bottom: 10px;
}
#mobile-menu{
	display: none;
}
#mobMenuClose{
	width:100%;
	height: 40px;
	line-height: 40px;
	border: 2px solid  #00519c;
	margin: 10px 0 20px 0 ;
	text-align: center;
	cursor:pointer;
}
/*------------- end category-menu ---------------------*/

/*------------- start slider ---------------------*/
#slider-out{
	overflow: hidden;
	max-width: 100%;
	height: 265px;
}
#slider-inside{
	overflow: auto;
	width: 500000px;
	transition: all, 0.8s;
}
.slider-item{
	float: left;
	overflow: hidden;
	height: 265px;
}
.slider-points{
	text-align: center;
	margin: 0 auto;
}
.slider-point{
	width: 25px;
	height: 25px;
	cursor: pointer;
	display: inline-block;
}

.slider-point div{
	border:2px solid #bababa;
	height: 13px;
	width: 13px;
	margin-top: 10px;
	transition: all, 0.3s;

}
.slider-point-act div{
	border:2px solid #00519c;
	height: 20px;
	width: 20px;
	margin-top: 5px;

}
/*------------- end slider ---------------------*/

/*------------- start advantages ---------------------*/
.advantages{
	margin-top: 30px;
	overflow: auto;
}
.adv-item{
	float: left;
	text-transform: uppercase;
	width: 20%;
	height: 95px;
	padding: 20px 0 0 10px;
	color: black;
}
.adv-item:hover{
	background-color: #e4e9ee;
}
.adv-item h5{
	line-height: 30px;
}
.adv-item img{
	float: left;
	margin-right: 5px;
}

/*------------- end advantages ---------------------*/

/*------------- start title ---------------------*/
.main-title{
	width: 100%;
	min-height: 50px;
	background-color:  #e4e9ee;
	text-align: center;
}
.main-title h2{
	line-height: 50px;
	color: #00519c;
	text-transform: uppercase;
	font-size: 22px;
}
.main-title  h1{
	line-height: 30px;
	padding: 10px 0;
	color: #00519c;
	text-transform: uppercase;
	font-size: 22px;
}
#stock .main-title{
	background-color: transparent;
}
#advice-products .main-title{
	background-color: transparent;
}
#advice-products .main-title h2{
	text-align: center;
}
#stock-products .main-title h2{
	text-align: center;

}
/*------------- end title  ---------------------*/

/*------------- start product  ---------------------*/
.product-item{
	border: 1px solid #ebebeb;
	margin-top: 20px;
	text-align: center;
	cursor: pointer;
	transition:0.3s, all;
	position: relative;
	min-height: 360px;
}
.item .product-item-list{
	border: 1px solid #ebebeb;
	margin-top: 20px;
	text-align: center;
	cursor: pointer;
	transition:0.3s, all;
	position: relative;
	height: 160px;
}
.wish-comp-item{
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(212, 223, 233, 0.7);
	width: 100px;
	height: 50px;
	padding-top: 15px;
	display: none;
	transition:all, 1s;
}
.product-item:hover .wish-comp-item{
	display: block;
}
.wish-comp-item img:first-child{
	margin-right: 10px;
}
.product-item:hover{
	border: 1px solid #adc0d3;
}
.product-item:hover .button-buy{
	background-color: #00519c;
	color: white;
}
.product-item img{
	max-width: 100%;
}
.product-item-img{
	min-height: 220px;
}
.item .product-item-list .product-item-img{
	float: left;
	margin: 10px;
	width: 160px;
	min-height: 160px;
}
.product-item p{
	padding: 10px 0;
	width: 90%;
	margin: 0 auto;
	height: 70px;
	overflow: hidden;
	color: black;
}
.item .product-item-list p{
	width: auto;
	height: 110px;
}
.product-item-price{
	color: #00519c;
	font-size: 18px;
}
.product-item-list .product-item-price{
	float: left;
	width: 100px;
	text-align: right;
}
.button-buy{
	height: 30px;
	width: 130px;
	background-color: #e1e1e1;
	border-radius: 2px;
	line-height: 30px;
	transition:0.3s, all;
	cursor: pointer;
	margin:10px auto;
	color: black;
}
.item .product-item-list .button-buy{
	float: right;
	margin: 0 30px 0 0;
}
#stock{
	background-color: #e4e9ee;
	margin-top: 60px;
	padding: 20px 0 40px 0;
}
#stock-products{
	padding: 20px 0 40px 0;
}
#advice-products{
	background-color: #e4e9ee;
	margin-top: 60px;
	padding: 20px 0 40px 0;
}
#stock .product-item{
	background-color: white;
}
#stock  .product-item:hover{
	border: 1px solid #adc0d3;
}
#advice-products .product-item{
	background-color: white;
}
#stock  .product-item:hover{
	border: 1px solid #adc0d3;
}


/*------------- end product  ---------------------*/

/*------------- start news  ---------------------*/

#news .main-title{
	background-color: transparent;
	position: relative;
/*	width: 70%;
float: left;*/
}
.news-all{
	position: absolute;
	right: 25px;
	width: 30%;
	line-height: 40px;
	top: 0;
	height: 40px;
	font-size: 16px;
	color: #00519c;
	text-align: right;
}
.news-all:hover{
	text-decoration: underline;
}
.tria-right {
	border: 1px solid #e8e8e8;
	position: relative;
	padding-right: 20px;
}
.tria-right::before, .tria-right::after {
	content: ''; 
	position: absolute;
	right: -31px; bottom: 0px;
	border: 20px solid transparent;
	border-left: 10px solid #e8e8e8;
}
.tria-right::after {
	border-left: 10px solid white;
	bottom: 0px;
	right: -30px;
}
.news-item{
	text-align: center;
	margin: 20px 0;
	overflow: auto;
	
}
.news-img{
	height: 195px;
	overflow: hidden;
}
.news-img img{
	width: 100%;
}
.news-name{
	color: black;
	font-size: 14px;
	min-height: 50px;
	text-transform: uppercase;
	padding-top: 10px;
	border-top: 1px solid #adc0d3;
}
.news-txt{
	color: black;
	font-size: 14px;
	color: #767676;
	height: 60px;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 0 5px;
}
.date{
	float: left;
	color: #00519c;
	margin-left: 30px;
	line-height: 30px;
	font-size: 12px;
}
.btn-more{
	float: right;
	background-color: #e8e8e8;
	height: 30px;
	line-height: 30px;
	width: 130px;
	color: black;
	border-radius: 2px;
	font-size: 12px;
	margin-right: 10px;
}
.news-bottom{
	overflow: auto;
	margin-top: 3px;
	padding-bottom: 10px;
}
.news-item:hover .news-bottom{
	background-color: #00519c;

}
.news-item:hover .news-name{
	color: white;
}
.news-item:hover .news-txt{
	color: white;
}
.news-item:hover .date{
	color: white;
}
.news-item:hover .btn-more{
	color: white;
	border: 1px solid white;
	background-color:transparent;
}
/*------------- end news  ---------------------*/

/*------------- start owl ---------------------*/
.manufact-slider .item{
	border-right: 2px solid #e8e8e8;
	text-align: center;
}
.manufact-slider .item img{
	max-width: 60%;
	padding-top: 20px;
}
/*.manufact-slider .item:last-child{
	border-right: none;
	}*/
	.manufact-slider {
		margin: 40px 0;
	}

	.customNavigation{
		position: relative;

	}
	.prev{
		top:-80px;
		position: absolute;
		left: -10px;
		cursor: pointer;

	}
	.next{
		top:-80px;
		position: absolute;
		right: -20px;
		cursor: pointer;

	}
		.prev2{
		top:-250px;
		position: absolute;
		left: -10px;
		cursor: pointer;

	}
	.next2{
		top:-250px;
		position: absolute;
		right: -20px;
		cursor: pointer;

	}
		.prev3{
		top:-250px;
		position: absolute;
		left: -10px;
		cursor: pointer;

	}
	.next3{
		top:-250px;
		position: absolute;
		right: -20px;
		cursor: pointer;

	}
	#owl-demo3 .product-item{
		width: 250px;
	}
	#owl-demo2 .product-item{
		width: 250px;
	}

	/*------------- end owl  ---------------------*/

	/*------------- start footer---------------------*/


	#toTop{
		position: fixed;
		right: 20px;
		bottom: 60px;
		width: 30px;
		height: 30px;
		background-color: #00519c;
		z-index: 9999;
		border:1px solid white;
		cursor: pointer;
		padding-left: 8px;
		padding-top: 2px;
		opacity: 0.5;
	}
	#toTop img{
		width: 60%;
	}
	#toTop:hover{
		opacity: 1;
	}
	.beforeSocial{
		margin-top: 20px;
	}
	#socialBlock{
		background-color:#e5e8ed;
		display: none;
		padding: 20px 0;

	}
	#socialBlock .socialBlockItem img{
		margin-top: 20px;
	}
	#socialBlock .socialBlockItem {
		text-align: center;
	}
	
	.youtube{
		background-color: white;
		margin-top: 20px;
		width: 100%;
		padding: 10px;
		max-width: 100%;
		height: 70px;
		max-width: 262px;
		margin: 0 auto;
	}
	#vk_groups{
		height: 290px!important;
		max-width: 100%;
		margin-top: 20px;
		margin: 0 auto;
		margin-top: 20px;
	}
	#ok_group_widget{
		max-width: 100%;
		margin-top: 20px;
	}
	#__okGroup0{
		max-width: 100%;
	}
	#vkwidget1{
		height: 290px!important;
	}

	#footer-social{
		width: 100%;
		background-color: #00519c;
		overflow: auto;
	}
	.footer-social-inside{
		margin: 0 auto;
		max-width: 600px;
		
	}
	#footer-social-middle{
		width: 20%;
		background-color:#0062bd; 
		height: 40px;
		float: left;
		cursor: pointer;
		background-image: url(../images/arrow-social-footer1.png);
		background-repeat: no-repeat;
		background-position: center;
	}
	.youtube{
		margin-top: 20px;
	}
	.footer-content-item-head{
		border: 1px solid #00519c;
		text-align: center;

	}
	.footer-content-item-head h6{
		font-size: 16px;
	}
	.footer-content{
		padding: 20px 0;
		background-color: #e4e9ee;
	}
	.footer-content ul{
		list-style: none;
		margin: 10px 0 0 20px;
	}
	.footer-content ul li a{
		color: black;
	}
	.footer-content ul li:hover{
		list-style: url(../images/footer-arrow.png);
	}
	#footer-bottom ul{
		float: right;
		list-style: none;
	}
	#footer-bottom ul li{
		float: left;
		margin-left: 10px;
		max-width: 60px;
	}
	#footer-bottom p{
		float: left;
		text-transform: uppercase;
		color: #4b7194;
		margin-top: 10px;
	}
	#footer-bottom {
		overflow: auto;
		padding-top: 10px;
	}
	/*------------- end slider ---------------------*/

	/*------------- start second category ---------------------*/
	#category-menu-second{
		width: 300px;
	}
	#category-menu-second{
		display: none;
		position: absolute;
		z-index: 9999;
		background-color: white;
		padding-left: 0px;
		border:1px solid #e4e9ee;
		padding-right: 0px;
		
	}
	#catalog-button{
		cursor: pointer;
	}
	/*------------- end second category ---------------------*/

	/*------------- start breadcrumps ---------------------*/
	#breadcrumps {
		padding-left: 15px;
	}
	#breadcrumps a{
		color: black;
		font-size: 12px;	
		margin-left: 10px;
		line-height: 40px;
	}
	#breadcrumps a:hover{
		text-transform: underline;
	}
	#breadcrumps a img{
		margin-right: 5px;
	}

	/*-------------  end breadcrumps ---------------------*/

	/*------------- start filter---------------------*/
	#filter{
		border: 1px solid #e4e9ee;
	}
	.filter-head{
		line-height: 50px;
		color: white;
		font-size: 16px;
		background-color: #00519c;
		text-align: center;
	}
	.filter-item{
		overflow: auto;
		border-bottom: 1px solid #e4e9ee;
		padding-bottom: 10px;
	}
	.filter-item-title{
		color: #00519c;
		font-size: 14px;
		float: left;
		font-family: OpenSans;
		margin:10px 0 0 10px;

	}
	.filter-item-open{
		float: right;
		cursor: pointer;
		margin:10px 10px 0 0;
	}
	.filter-item-content{
		width: 85%;
		margin: 0 auto;
		margin-top: 40px;
		font-weight: normal;
		font-size: 12px;
		border: 1px solid #e4e9ee;
		display: none;


	}
	.filter-item-content label{
		width: 100%;

	}
	.filter-item-content  input{
		margin-right: 5px;
		
	}
	.filter-item-content-inside{
		max-height: 150px;
		overflow: scroll;
		padding: 10px;

	}
	.filter-item-close{
		text-decoration: underline;
		color: #00519c;
		font-size: 12px;
		float: right;
		margin: 10px 20px 0 0;
		cursor: pointer;

	}
	
	#filter-submit{
		width: 80%;
		background-color: #00519c;
		text-align: center;
		color: white;
		line-height: 40px;
		margin: 0 auto;
		float: none;
		border-radius: 2px;
		margin-top: 15px;
		cursor: pointer;
		margin-bottom: 10px;
	}

	#filter-submit:hover{
		background-color:#003c74;
	}
	#filter-refresh{
		width: 80%;
		background-color: #e1e1e1;
		text-align: center;
		color: black;
		line-height: 35px;
		margin: 0 auto;
		float: none;
		border-radius: 2px;
		margin-top: 5px;
		cursor: pointer;
		margin-bottom: 10px;
	}
	#filter-refresh:hover{
		background-color: #c6c6c6;
	}
	/*------------- end filter---------------------*/

	/*------------- start category content ---------------------*/
	#category-content .main-title{
		margin-top: -20px;
	}
	#filter-block{
		overflow: auto;
	}
	.fitler-block-item{
		/*min-height: 25px;*/
		border:solid 1px #e4e9ee;
		float: left;
		width: 32%;
		margin-right: 1%;
		margin-top: 5px;
		font-size: 12px;
		color: grey;
		/*padding: 10px 5px 5px 10px;*/

	}
	.fitler-block-item:hover .filter-item-close{
		background-color: #c6c6c6;
	}
	.fitler-block-item p{
		float: left;
		line-height: 35px;
		margin: 0;
		padding-left: 10px;
	}
	.fitler-block-item-main{
		color: black;
	}
	.clear-fitler-block{
		background-color: #e4e9ee;
		width: 35px;
		height: 35px;
		cursor: pointer;
		float: right;
		background-image: url(../images/delete-icon-white.png);
		background-repeat: no-repeat;
		background-position: center;
	}
	.clear-fitler-block-main{
		background-color: #00519c;
		width: 35px;
		height: 35px;
		cursor: pointer;
		float: right;
		background-image: url(../images/delete-icon-white.png);
		background-repeat: no-repeat;
		background-position: center;
	}
	#sort-view-tb{
		width: 30px;
		height: 30px;
		float: left;
		cursor: pointer;
	}
	#sort-view-tb .sort-view-tb{
		width: 7px;
		float: left;
		margin: 1px;
		height: 7px;
		background-color: #00519c;
	}
	.sort-view{
		overflow: auto;
		padding: 10px 0 0 10px;
	}
	#sort-view-sp {
		float: left;
		margin-left: 10px;
		cursor: pointer;
	}
	#sort-view-sp .sort-view-sp{
		height: 7px;
		margin-top: 2px;
		width: 25px;
		background-color: #e4e9ee;


	}
	.sort-by{
		line-height: 50px;
	}
	.sort-by img{
		max-width: 22px;	
	}
	.sort-by select{
		width: 45%;
		margin-left: 3%;
		height: 30px;
		float: right;
		margin-top: 10px;
		border-radius: 0;
	}
	.pagination {
		text-align: center;
		margin: 20px 0;
		overflow: auto;
		

	}
	.pagination {
		list-style: none;
		display: inline-block;
		margin:0 auto;
		border-radius: 0px!important;

	}
	.pagination>li:first-child>a, .pagination>li:first-child>span{
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.pagination-div{
		height: 30px;
		margin: 10px  0;
		text-align: center;

	}
	.pagination li a{
		border:1px solid #e4e9ee;
		cursor: pointer;
		width: 25px;
		height: 25px;
		margin:2px;
		margin-top: 0px;
		color: #00519c;
		display: inline-block;
		background-color: none;
		border-radius: 0px!important;
		background-color: transparent!important;
		line-height: 25px;
		color: #00519c;
		padding: 0;
		display: inline-block;
	}
	.pagination li span{
		border-radius: 0;
	}
	.pagination  li:hover{
		background-color: #e4e9ee;
		transition: All, 0.5s;
	}
	.pagination .active span{
		border:3px solid #00519c;
		width: 25px;
		height: 25px;
		margin-top: none;
		background-color: transparent!important;
		color: #00519c;
		padding: 0;
		border-radius: 0px!important;	
		margin:0 2px;
	}
	.pagination .active span:hover{
		background-color: transparent!important;
		color: #00519c;
	}
	#catalog-products{
		/*margin-top: -20px;*/
	}
	
	/*------------- end category content ---------------------*/

	/*------------- start contacts ---------------------*/
	#contacts .main-title{
		margin-top: -20px;
	}
	.contact-home p{
		width: 70%;
		float: right;
	}
	.contact-info p{
		width: 70%;
		float: right;
		padding-top: 20px;
	}
	.contact-home, 	.contact-info{
		font-size: 12px;

	}
	.contact-info{
		border-top:1px solid #b0c1d1;
		padding-top: 30px;
	}
	.contact-INN{
		height: 120px;
		color: #00519c;
		font-family:OpenSansBold;
		font-size: 16px;
		padding: 30px 0 0 30px;

	}
	.contact-form-avaks p{
		color: #00519c;
		font-size: 12px;
		line-height: 30px;
		float: right;

	}
	.contact-form-avaks h5{
		text-align: center;
		color: black;
		font-family: OpenSansBold;
		font-size: 16px;

	}



	.contact-form-avaks input{
		width: 100%;
		border:1px solid #b0c1d1;
		height: 30px;
		margin-top:5px;
		text-indent: 10px;
	}
	.contact-form-avaks textarea{
		width: 100%;
		border:1px solid #b0c1d1;
		height: 70px;
		margin-top:5px;
		text-indent: 10px;
	}
	.contact-form-avaks input[type="submit"]{
		width: 50%;
		background-color: #00519c;
		color: white;
		float: right;
	}
	.review-input input{
		/*	width: 100%;*/
		border:1px solid #b0c1d1;
		/*height: 30px;*/
		margin-top:5px;
		text-indent: 10px;
	}
	.review-input textarea{
		width: 100%;
		border:1px solid #b0c1d1;
		height: 70px;
		margin-top:5px;
		text-indent: 10px;
	}
	.contact-map iframe{
		border:3px solid #b0c1d1;
		margin-bottom: 20px;
	}
	/*------------- end contacts ---------------------*/

	/*------------- start product content ---------------------*/
	.img-thumbnail-avaks img{
		margin-top: 10px;
		border:1px solid #e4e9ee;
		cursor: pointer;
	}
	.main-image-product-avaks{
		max-height: 400px;
		text-align: center;
		padding:10px 0 ;
		cursor: pointer;
	}
	#product-content .main-title{
		text-align: left;
		padding-left: 30px;
		margin-top: -20px;
		
	}
	#product-content .main-title h1{
		font-size: 18px;
	}
	
	#to-product-feedback {
		width: 100%;
		text-align: center;
		line-height: 30px;
		border:1px solid #e4e9ee;
		padding: 5px;
		position: relative;
		cursor: pointer;
		margin-bottom: 20px;
	}
	#to-product-feedback::before, #to-product-feedback::after {
		content: ''; 
		position: absolute;
		left: 50%; bottom: -20px;
		border: 10px solid transparent;
		border-top: 10px solid #e4e9ee;
	}
	#to-product-feedback::after {
		border-top: 10px solid white;
		bottom: -19px; 
	}
	.main-feedback{
		margin-bottom: 20px;
	}

	.product-info-feedback{
		border-top:2px solid #00519c;
		margin-top: 20px;
	}
	#product-tabs {
		list-style: none;
	}
	#product-tabs li{
		width: 100%;
		text-align: center;
		line-height: 30px;
		background-color: #e8e8e8;
		cursor: pointer;
	}
	#product-tabs .product-tab-active{
		background-color:#00519c;
		color: white;
	}
	.categories-list{
		list-style: none;
		
	}
	.categories-list li a{
		width: 100%;
		line-height: 30px;
		border: 1px solid #e4e9ee;
		margin-bottom: 5px;
		display: block;
		overflow: auto;
		color: black;
		padding-right: 10px;
	}
	.categories-list li a p {
		margin-top: 20px;
line-height: 20px;
	}
	.categories-list li a:hover{
		border: 1px solid #00519c;
		color: #00519c;
	}
	.categories-list li a img{
		padding: 0 10px 0 5px;
		float: left;
	}
	.categories-list li a:hover{
		opacity: 1;
	}
	.feedback-item {
		padding:10px 0;
	}
	.feedback-item .col-xs-3 {
		min-height: 40px;
		text-align: center;
	}
	.feedback-item .col-xs-3 p{
		color: #00519c;
		text-align: center;
		margin:10px 0;
		font-family: OpenSansBold;
		font-size: 14px;
		border-bottom: 1px solid #e4e9ee;

	}
	.feedback-item .col-xs-3 span{
		text-align: center;
		font-size: 12px;
	}
	.feedback-item .col-xs-6 p{
		color: black;
		font-family: OpenSans;
	}
	#product-info-block{
		padding: 20px;
	}
	#feedback-block{
		display: none;
	}
	.availability{
		width: 100%;
		line-height: 30px;
		text-align: center;
	}
	.avail-true{
		border:1px solid green;
		color: green;
	}
	.avail-false{
		border:1px solid red;
		color: red;
	}
	.price h2{
		color: #00519c;
		font-size: 30px;
		line-height: 20px;
		font-family:OpenSansBold;
	}
	.price span{
		font-size: 20px;
	}
	.price{
		margin:40px 0;
	}
	.order-btn{
		background-color: #00519c;
		color: white;
		border-radius: 2px;
		cursor: pointer;
		width: 100%;
		height: 35px;
		border:none;
	}
	.btn-group{
		width: 100%;
	}
	.fast-order-btn{
		background-color: #e1e1e1;
		color: #00519c;
		width: 100%;
		margin-top: 5px;
		height: 35px;
		border:none;
		border-radius: 2px;
		cursor: pointer;

	}
	.occm-button{
		background-color: #e1e1e1;
		color: #00519c;
		width: 100%;
		margin-top: 5px;
		height: 35px;
		border:none;
		border-radius: 2px;
		cursor: pointer;
		font-size: 14px;
		line-height: 17px;
	}
	.order-btn:hover{
		background-color:#003c74;
	}
	
	.occm-button:hover{
		background-color: #c6c6c6;
	}
	.top-product-info{
		margin-top: 40px;
	}

	.product-wishlist{
		margin: 40px 15px 15px 15px;
		cursor: pointer;
	}
	.product-wishlist:hover{
		text-decoration: underline;
	}
	.product-wishlist img{
		margin-right: 15px;

	}
	.product-compaire img{
		margin-right: 15px;
	}
	.product-compaire{
		margin: 15px;

		cursor: pointer;
	}
	.product-compaire:hover{
		text-decoration: underline;
	}
	.product-stars{
		float: left;
		margin-left: 10px;
	}
	.to-feedback{
		border:1px solid #e4e9ee;
		text-align: center;
		line-height: 35px;
		cursor: pointer;
		margin-top: 20px;
	}
	.to-feedback:hover{
		border:1px solid #00519c;
	}
	.feedback-quant{
		color: #00519c;
		float: right;
		cursor: pointer;
		margin-right: 10px;

	}
	.feedback-quant:hover{
		text-decoration: underline;
	}

	.cart-total-row{
		border: 1px solid #b0c1d1;
		overflow: auto;
		padding: 5px;
		margin:5px 0;
	}
	.cart-total-row div{
		float: right;
		margin-right: 30px;
	}
	.cart-total-row div:last-child {
		color: #00519c;
	}

	/*------------- end product content ---------------------*/


	@media(max-width:1200px){ 
		.top-social-item{
			width: 45px;
		}
		.super-menu-top li{
			margin-left: 30px;
		}
		#nav .col-md-9 ul li {
			width: auto;
			padding: 0 5px;
		}
		.phone-item img{
			display: none;
		}
		.clock-item{
			line-height: 14px;
		}
		.clock-item img{ 
			display: none;
		}
		.cart-icons img{
     	display: none;
     }

	}

	@media(max-width:992px){
		.toMakeFeed{
			display: none;
		}

		#owl-demo4{
			display: none;
		}
		.advantages{
			display: none;
		}
		#category-menu{
			display: none;
		}
		#nav .col-md-9 ul li {
			float: left;
			width: 33%;
			text-align: center;
			font-size: 14px;
			line-height: 30px;	
			color: #828282;
			height: auto;

		}
		#nav .col-md-9 ul li:hover{
			border-bottom: none;

		}
		.clock-item{
			display: none;
		}
		.cart-icons{
			width: 300px;
			margin: 0 auto;
		}
		#main-head .col-md-3{
			text-align: center;
		}
		#catalog-button{
			display: none;
		}
		#catalog-button-mob{
			display:block;
		}
		#nav{
			height: auto;
			line-height: inherit;
		}
		.top-account{
			overflow: auto;
		}
		#top-head{
			height: auto;
		}
		.top-social{
			width: 220px;
		}

		/*.footer-social-inside{
			    width: 80%;
     margin-left: 10%; 
     }*/
     .customNavigation{
     	display: none;
     }
     #product-content .col-sm-12{
     	text-align: center;
     }
     .phone-item img{
     	display: block;
     }
     

 }
 @media(max-width:550px){
 	#owl-demo3 .product-item {
 		width: 95%;
 	}
 	#owl-demo2 .product-item {
 		width: 95%;
 	}
 	.button-buy {
 		/*	width: auto;*/
 	}
 	.sort-view{
 		display: none;
 	}

 }
 @media(max-width:450px){
 	.phone{
 		display: none;
 	}
 	.product-item p{
 		width: 100%;
 		height: 100px;
 	}
 	.news-all{
 		right: 50px;
 		padding-left: 5px;
 	}
 	.top-social-item {
 		width: 40px;
 	}
 	.top-social {
 		width: 180px;
 	}
 	#news .main-title h2{
 		text-align: left;
 		margin-left: 20px;
 	}

 	.footer-social-inside{
 		width: 60%;
 	}
 	.product-item-img{
 		min-height:110px;
 	}
 	
 }
