<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Avaks</title>
	<link rel="stylesheet" href="bootstrap-jq/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="bootstrap-jq/jquery.js"></script>
	<script src="js/main.js"></script>
	<script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>

</head>
<body>
	<div id="header">
		<div id="top-head">
			<div class="container">
				<div class="top-social">
					<a href="" target="_blank">
						<div class="top-social-item">
							<img src="images/icon-vk-g.png">
						</div>
					</a>
					<a href="" target="_blank">
						<div class="top-social-item">
							<img src="images/icon-fb-g.png">
						</div>
					</a>
					<a href="" target="_blank">
						<div class="top-social-item">
							<img src="images/icon-ok-g.png">
						</div>
					</a>
					<a href="" target="_blank">
						<div class="top-social-item">
							<img src="images/icon-insta-g.png">
						</div>
					</a>
					<a href="" target="_blank">
						<div class="top-social-item">
							<img src="images/icon-mail-g.png">
						</div>
					</a>
					<a href="" target="_blank">
						<div class="top-social-item">
							<img src="images/icon-google-g.png">
						</div>
					</a>
					<a href="" target="_blank">
						<div class="top-social-item">
							<img src="images/icon-tw-g.png">
						</div>
					</a>
					<a href="" target="_blank">
						<div class="top-social-item">
							<img src="images/icon-yout-g.png">
						</div>
					</a>
				</div>
				<div class="top-account">
					<a href="">
						<div class="top-account-item">
							Вход
						</div>
					</a>
					<a href="">
						<div class="top-account-item">
							Регистрация
						</div>
					</a>
				</div>

			</div>
		</div>
		<div id="main-head">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<a href="index.html">
							<img src="images/logo-avaks.jpg">
						</a>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<div class="phone">
							<div class="phone-line">
								<div class="phone-item">
									<img src="images/phone-2.png">
									8-3812-50-37-37
								</div>
								<div class="phone-item">
									<img src="images/phone-6.png">
									+7-953-393-65-22
								</div>
							</div>
							<div class="phone-line">
								<div class="phone-item">
									<img src="images/phone-3.png">
									+7-913-610-34-93
								</div>
								<div class="phone-item">
									<img src="images/phone-5.png">
									+7-3812-438-248
								</div>
							</div>
							<div class="phone-line">
								<div class="phone-item">
									<img src="images/phone-1.png">
									avaks503737
								</div>
								<div class="phone-item">
									<img src="images/phone-4.png">
									503737@mail.ru
								</div>
							</div>
						</div>
						<div id="search">
							<input type="text" placeholder="Поиск">
							<button type="submit"><img src="images/icon-search.png"></button>
						</div>
					</div>
					<div class="col-md-2 col-md-offset-1">
						<div class="clock-item">
							<div class="clock-img">
								<img src="images/icon-clock.png">
							</div>
							<div class="clock-txt">
								С 10:00 до 19:00<br>
								Воскресенье : Выходной</div>
							</div>
							<div class="cart-icons">
								<a href="">
									<div class='cart-icons-item'>
										<img src="images/wishlist-icon-g.png">
										2
									</div>
								</a>
								<a href="">
									<div class='cart-icons-item'>
										<img src="images/compaire-icon-g.png">
										2
									</div>
								</a>
								<a href="">
									<div class='cart-icons-item'>
										<img src="images/cart-icon-g.png">
										2
									</div>
								</a>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
		<div id="nav">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
					<a href="category.html">
						<div id="catalog-button">
							Категории
							<div class="menu-div"><div></div><div></div><div></div></div>
						</div>
						</a>
						<div id="catalog-button-mob">
							Категории
							<div class="menu-div"><div></div><div></div><div></div></div>
						</div>
						<div id="mobile-menu">

							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Спутниковое оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Спутниковое оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Спутниковое оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>
							
							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Эфирное оборудование</p>
								</div>
							</a>

							<a href="">
								<div class="category-menu-item">
									<p>Спутниковое оборудование</p>
								</div>
							</a>
							<a href="">
								<div class="category-menu-item">
									<p>Спутниковое оборудование</p>
								</div>
							</a>
							<div class="category-menu-premium">
								<a href="">
									<div class="category-menu-item-premium">
										<p>Акции</p>
										<div class="category-arrow-premium">
											<img src="images/prem1-g.png">
										</div>
										<div class="catalog-tria"></div>
									</div>
								</a>
								<a href="">
									<div class="category-menu-item-premium">
										<p>Хиты продаж</p>
										<div class="category-arrow-premium">
											<img src="images/prem2-g.png">
										</div>
										<div class="catalog-tria"></div>
									</div>
								</a>
								<a href="">
									<div class="category-menu-item-premium">
										<p>Распродажа</p>
										<div class="category-arrow-premium">
											<img src="images/prem3-g.png">
										</div>
										<div class="catalog-tria"></div>
									</div>
								</a>
								<a href="">
									<div class="category-menu-item-premium">
										<p>Товар дня</p>
										<div class="category-arrow-premium">
											<img src="images/prem4-g.png">
										</div>
										<div class="catalog-tria"></div>
									</div>
								</a>
								<div id="mobMenuClose">
									Свернуть категории
								</div>
							</div>
						</div>
						
					</div>
					<div class="col-md-9">
						<ul class="super-menu-top">
							<a href=""><li>О нас</li></a>
							<a href=""><li>Оплата</li></a>
							<a href=""><li>Доставка</li></a>
							<a href=""><li>Гарантия</li></a>
							<a href=""><li>Контакты</li></a>
							<a href=""><li>Обратная связь</li></a>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div id="breadcrumps">
						<a href="index.html">
							<img src="images/home-icon-bread.jpg">
							Главная
						</a>
						<a href="">
							<img src="images/breadcr-arrow.jpg">
							Спутниковое оборудование 
						</a>
						<a href="">
							<img src="images/breadcr-arrow.jpg">
							Ресиверы
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="contacts">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="main-title">
							<h1>Контакты</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<div class="contact-INN">
							<p>
								ИНН: 552830000704<br>
								ОГРН:  308554312000123
							</p>
						</div>
						<div class="contact-home">
							<div class="row ">

								<div class="col-sm-6">
									<img src="images/contacts_03.png">
									<p>Адрес: г.Омск, ул. 70 Лет Октября, д. 25/1, 339
										"Континент-2",2-улица, 3 этаж, бутик 339</p>
									</div>
									<div class="col-sm-6">
										<img src="images/contacts_05.png">
										<p>Адрес: г.Омск, ул. 70 Лет Октября, д. 25/1, 339
											"Континент-2",2-улица, 3 этаж, бутик 339</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="contact-form-avaks">
									<h5>Форма обратной связи</h5>
									<div class="row">
										<div class="col-xs-2">
											<p>Имя*</p>
										</div>
										<div class="col-xs-10">
											<input type="text" name="name">
										</div>
									</div>
									<div class="row">
										<div class="col-xs-2">
											<p>	Email*</p>
										</div>
										<div class="col-xs-10">
											<input type="text" name="name">
										</div>
									</div>
									<div class="row">
										<div class="col-xs-2">
											<p>Сообщение*</p>
										</div>
										<div class="col-xs-10">
											<textarea></textarea> 
										</div>
									</div>
									<input type="submit" value="Отправить" >
								</div>
							</div>
						</div>
						  <div class="contact-info">
							<div class="row">
								<div class="col-sm-3">
									<img src="images/contacts_13.png">
									<p>8 (3812)50-37-37 - интернет-магазин<br>
										8 (3812)489-189 - магазин<br>
										8 (3812)438-248 - факс<br>
										8-953-393-65-22- заказ установок<br>
										8-913-61-03-493- ОПТ</p>
									</div>
									<div class="col-sm-3">
										<img src="images/contacts_10.png">
										<p>503737@mail.ru- общие вопросы<br>
											89136103493@mail.ru- ОПТ</p>
										</div>
										<div class="col-sm-3">
											<img src="images/contacts_16.png">
											<p>avaks503737- общие вопросы <br>
												avaks75 -ОПТ</p>
											</div>
											<div class="col-sm-3">
												<img src="images/contacts_19.png">
												<p>434999771</p>
											</div>
										</div>
									</div>
									<div class="contact-map">
										<div class="row">
											<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2289.757935896385!2d73.32223331530133!3d54.97734405899721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43ab019273a55da9%3A0xb7eee07a353f2c00!2sAvaks!5e0!3m2!1sru!2sru!4v1466539409428" width="100%" height="300" frameborder="0"  allowfullscreen></iframe>
										</div>
									</div>
								</div>
							</div>
							
							<div id='socialBlock'>
								<div class="container">
									<div class="row">
										<div class="col-lg-3 col-md-6 socialBlockItem">
											<!-- <script type="text/javascript" src="//vk.com/js/api/openapi.js?122"></script> -->

											<!-- VK Widget -->
											<div id="vk_groups"></div>
											<script type="text/javascript">
												VK.Widgets.Group("vk_groups", {mode: 0, width: "220", height: "290", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 117882417);
											</script>
										</div>
										<!-- </div> -->
										<div class="col-lg-3 col-md-6 socialBlockItem">
											<div id="ok_group_widget"></div>
											<script>
												!function (d, id, did, st) {
													var js = d.createElement("script");
													js.src = "https://connect.ok.ru/connect.js";
													js.onload = js.onreadystatechange = function () {
														if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
															if (!this.executed) {
																this.executed = true;
																setTimeout(function () {
																	OK.CONNECT.insertGroupWidget(id,did,st);
																}, 0);
															}
														}}
														d.documentElement.appendChild(js);
													}(document,"ok_group_widget","53156864590004","{width:250,height:290}");
												</script>
											</div>

											<div class="col-lg-3 col-md-6 socialBlockItem">
												<a href=""><img src="images/social-fb-img.jpg"></a>
												<a href=""><img src="images/social-tw-img.jpg"></a>
												<a href=""><img src="images/social-insta-img.jpg"></a>
											</div>
											<div class="col-lg-3 col-md-6 socialBlockItem">
												<a href=""><img src="images/social-google-img.jpg"></a>
												<a href=""><img src="images/social-mail-img.jpg"></a>
												<!-- <img src="images/social-insta-img.jpg"> -->	
												<div class="col-md-3 social youtube">
													<script src="https://apis.google.com/js/platform.js"></script>
													<div class="g-ytsubscribe" data-channel="avaksofficial" data-layout="full" data-count="default"></div>
												</div>
											</div>
										</div>

									</div>

								</div>
								<div id="footer">
									<div id="footer-social">
										<div class="footer-social-inside">
											<div class="footer-social-item">
												<a href="" target="_blank">
													<div class="top-social-item">
														<img src="images/icon-vk-g.png">
													</div>
												</a>
												<a href="" target="_blank">
													<div class="top-social-item">
														<img src="images/icon-fb-g.png">
													</div>
												</a>
												<a href="" target="_blank">
													<div class="top-social-item">
														<img src="images/icon-ok-g.png">
													</div>
												</a>
												<a href="" target="_blank">
													<div class="top-social-item">
														<img src="images/icon-insta-g.png">
													</div>
												</a>
											</div>
											<div id="footer-social-middle">
											</div>
											<div class="footer-social-item">
												<a href="" target="_blank">
													<div class="top-social-item">
														<img src="images/icon-mail-g.png">
													</div>
												</a>
												<a href="" target="_blank">
													<div class="top-social-item">
														<img src="images/icon-google-g.png">
													</div>
												</a>
												<a href="" target="_blank">
													<div class="top-social-item">
														<img src="images/icon-tw-g.png">
													</div>
												</a>
												<a href="" target="_blank">
													<div class="top-social-item">
														<img src="images/icon-yout-g.png">
													</div>
												</a>
											</div>
										</div>
									</div>
									<div class="footer-content">
										<div class="container">
											<div class="row">
												<div class="col-md-3 col-sm-6">
													<div class="footer-content-item-head">
														<h6>Информация</h6>
													</div>
													<ul>
														<li><a href=''>Подпункт</a></li>
														<li><a href=''>Очень длинный подпункт</a></li>
														<li><a href=''>Подпункт</a></li>
														<li><a href=''>Подпункт</a></li>
													</ul>
												</div>
												<div class="col-md-3 col-sm-6">
													<div class="footer-content-item-head">
														<h6>Служба поддержки</h6>
													</div>
													<ul>
														<li><a href=''>Подпункт</a></li>
														<li><a href=''>Подпункт</a></li>
														<li><a href=''>Очень длинный подпункт</a></li>
														<li><a href=''>Подпункт</a></li>
													</ul>
												</div>
												<div class="col-md-3 col-sm-6">
													<div class="footer-content-item-head">
														<h6>Дополнительно</h6>
													</div>
													<ul>
														<li><a href=''>Длинный подпункт</a></li>
														<li><a href=''>Подпункт</a></li>
														<li><a href=''>Подпункт</a></li>
														<li><a href=''>Подпункт</a></li>
													</ul>
												</div>
												<div class="col-md-3 col-sm-6">
													<div class="footer-content-item-head">
														<h6>Личный кабинет</h6>
													</div>
													<ul>
														<li><a href=''>Подпункт</a></li>
														<li><a href=''>Подпункт</a></li>
														<li><a href=''>Очень длинный подпункт</a></li>
														<li><a href=''>Подпункт</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div id="footer-bottom">
										<div class="container">
											<p>Информация, представленная на сайте www.avaks.tv не является публичной офертой</p>
											<ul>
												<li><a href=""><img src="images/dream-yandex-money-48x32.png"></a></li>
												<li><a href=""><img src="images/mastercard-48x32.png"></a></li>
												<li><a href=""><img src="images/visa-48x32.png"></a></li>
												<li><a href=""><img src="images/webmoney-48x32.png"></a></li>
												<li><a href=""><img src="images/sberbank-48x32.png"></a></li>
												<li><a href=""><img src="images/paypal-48x32.png"></a></li>
												<li><a href=""><img src="images/mts-48x32.gif"></a></li>
											</ul>
										</div>
									</div>
								</div>
								<link rel="stylesheet" href="owl-carousel/owl.carousel.css">
								<link rel="stylesheet" href="owl-carousel/owl.theme.css">
								<script src="owl-carousel/owl.carousel.js"></script>

							</body>
							</html>